@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "daisyui";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --animate-aurora: aurora 60s linear infinite;

    @keyframes aurora {
        from {
            background-position: 50% 50%, 50% 50%;
        }

        to {
            background-position: 350% 50%, 350% 50%;
        }
    }

    --animate-orbit: orbit calc(var(--duration)*1s) linear infinite;

    @keyframes orbit {
        0% {
            transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
        }

        100% {
            transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));
        }
    }
}

:root {
    --background: oklch(0.99 0.005 251);
    --foreground: oklch(0.25 0.06 254);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.25 0.06 254);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.25 0.06 254);
    --primary: oklch(0.58 0.17 255);
    --primary-foreground: oklch(0.96 0.02 251);
    --secondary: oklch(0.96 0.02 251);
    --secondary-foreground: oklch(0.34 0.09 254);
    --muted: oklch(0.96 0.02 251);
    --muted-foreground: oklch(0.50 0.15 255);
    --accent: oklch(0.88 0.05 251);
    --accent-foreground: oklch(0.34 0.09 254);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.88 0.05 251);
    --input: oklch(0.88 0.05 251);
    --ring: oklch(0.58 0.17 255);
}

.dark {
    --background: oklch(0.15 0.03 247);
    --foreground: oklch(0.96 0.02 251);
    --card: oklch(0.20 0.04 250);
    --card-foreground: oklch(0.96 0.02 251);
    --popover: oklch(0.20 0.04 250);
    --popover-foreground: oklch(0.96 0.02 251);
    --primary: oklch(0.88 0.05 251);
    --primary-foreground: oklch(0.15 0.03 247);
    --secondary: oklch(0.25 0.06 254);
    --secondary-foreground: oklch(0.96 0.02 251);
    --muted: oklch(0.25 0.06 254);
    --muted-foreground: oklch(0.72 0.11 253);
    --accent: oklch(0.34 0.09 254);
    --accent-foreground: oklch(0.96 0.02 251);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(0.34 0.09 254);
    --input: oklch(0.25 0.06 254);
    --ring: oklch(0.68 0.13 253);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    button:focus-visible {
        outline: none;
    }

    button:hover {
        cursor: pointer;
    }

    body,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        @apply bg-background text-foreground;
        font-family: 'Nunito Sans', sans-serif;
    }

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        appearance: textfield;
        -moz-appearance: textfield;
    }
}